<!doctype html>
<html>
  <head>
    <title>hjfreyer.com</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-519586-5', 'auto');
      ga('send', 'pageview');
    </script>

    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="viewport">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="hello">
              <div class="title"></div>
              <div class="name">Hunter Freyer</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 content">
            <main>
              {{content}}
            </main>
            <footer class="footer">
              <span class="symbol">
                <a href="mailto:yt@hjfreyer.com">&#xe424;</a>
                <a href="https://plus.google.com/106400246665442085793">&#xe439;</a>
                <a href="https://www.facebook.com/hjfreyer">&#xe427;</a>
                <a href="https://twitter.com/hjfreyer">&#xe486;</a>
              </span>
              <div class="silliness">IS THIS A WEBSITE I MEAN SERIOUSLY WHOA</div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
